:root {
  --text-danger: red;
}

.fg-validate .fg-error-mg-validate {
  color: var(--text-danger);
}

.fg-invalid-validate select,
.fg-invalid-validate input {
  border: 1px solid var(--text-danger) !important;
}

.fg-invalid-validate select:focus,
.fg-invalid-validate input:focus {
  border-color: var(--text-danger) !important;
  box-shadow: inset 0 0 0 1px var(--text-danger) !important;
}